# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.hprof

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
src/test/
logs/

forge*changelog.txt
runs/client/command_history.txt
runs/client/config/fml.toml
runs/client/config/jei-server.toml
runs/client/config/jei/blacklist.json
runs/client/config/jei/ingredient-list-mod-sort-order.ini
runs/client/config/jei/ingredient-list-type-sort-order.ini
runs/client/config/jei/jei-client.ini
runs/client/config/jei/jei-colors.ini
runs/client/config/jei/jei-debug.ini
runs/client/config/jei/jei-mod-id-format.ini
runs/client/config/jei/recipe-category-sort-order.ini
runs/client/config/neoforge-client.toml
runs/client/config/neoforge-common.toml
runs/client/config/neoforge-server.toml
runs/client/config/potionsmaster.zip
runs/client/config/potionsmaster/coal.json
runs/client/config/potionsmaster/copper.json
runs/client/config/potionsmaster/diamond.json
runs/client/config/potionsmaster/emerald.json
runs/client/config/potionsmaster/gold.json
runs/client/config/potionsmaster/iron.json
runs/client/config/potionsmaster/lapis.json
runs/client/config/potionsmaster/netherite.json
runs/client/config/potionsmaster/quartz.json
runs/client/config/potionsmaster/redstone.json
runs/client/crash-reports/crash-2024-10-27_20.06.37-fml.txt
runs/client/crash-reports/crash-2024-10-27_20.19.55-fml.txt
runs/client/crash-reports/crash-2024-10-27_20.20.34-fml.txt
runs/client/crash-reports/crash-2024-10-27_20.22.00-fml.txt
runs/client/crash-reports/crash-2024-10-27_20.25.39-fml.txt
runs/client/crash-reports/crash-2024-10-27_20.27.38-fml.txt
runs/client/crash-reports/crash-2024-10-27_20.46.30-fml.txt
runs/client/crash-reports/crash-2024-10-27_20.47.59-fml.txt
runs/client/crash-reports/crash-2024-10-27_20.49.21-fml.txt
runs/client/crash-reports/crash-2024-11-11_16.22.25-fml.txt
runs/client/crash-reports/crash-2024-11-11_16.23.21-fml.txt
runs/client/crash-reports/crash-2024-11-11_16.31.29-fml.txt
runs/client/crash-reports/crash-2024-11-11_16.38.56-fml.txt
runs/client/crash-reports/crash-2024-11-11_16.41.20-fml.txt
runs/client/crash-reports/crash-2024-11-11_16.47.15-fml.txt
runs/client/crash-reports/crash-2024-11-11_17.12.18-fml.txt
runs/client/crash-reports/crash-2024-11-11_17.15.21-fml.txt
runs/client/crash-reports/crash-2024-11-11_17.17.57-fml.txt
runs/client/crash-reports/crash-2024-11-11_17.19.14-fml.txt
runs/client/crash-reports/crash-2024-11-11_17.20.35-fml.txt
runs/client/crash-reports/crash-2024-11-11_20.44.28-fml.txt
runs/client/crash-reports/crash-2024-11-11_20.45.44-fml.txt
runs/client/crash-reports/crash-2024-11-11_20.48.02-fml.txt
runs/client/crash-reports/crash-2024-11-11_20.49.54-fml.txt
runs/client/crash-reports/crash-2024-11-11_20.59.15-fml.txt
runs/client/crash-reports/crash-2024-11-11_21.01.20-fml.txt
runs/client/crash-reports/crash-2024-11-11_21.02.16-fml.txt
runs/client/crash-reports/crash-2024-11-11_21.18.24-fml.txt
runs/client/crash-reports/crash-2024-11-11_21.28.55-fml.txt
runs/client/crash-reports/crash-2024-11-11_21.29.45-fml.txt
runs/client/crash-reports/crash-2024-11-13_22.10.14-fml.txt
runs/client/crash-reports/crash-2024-11-13_22.31.06-fml.txt
runs/client/crash-reports/crash-2024-11-13_22.51.54-fml.txt
runs/client/crash-reports/crash-2024-11-13_22.55.41-fml.txt
runs/client/crash-reports/crash-2024-11-14_09.28.05-fml.txt
runs/client/crash-reports/crash-2024-11-25_16.20.53-fml.txt
runs/client/downloads/log.json
runs/client/options.txt
runs/client/saves/New World (1)/advancements/380df991-f603-344c-a090-369bad2a924a.json
runs/client/saves/New World (1)/data/neoforge_data_attachments.dat
runs/client/saves/New World (1)/data/raids.dat
runs/client/saves/New World (1)/data/random_sequences.dat
runs/client/saves/New World (1)/DIM-1/data/neoforge_data_attachments.dat
runs/client/saves/New World (1)/DIM-1/data/raids.dat
runs/client/saves/New World (1)/DIM1/data/neoforge_data_attachments.dat
runs/client/saves/New World (1)/DIM1/data/raids_end.dat
runs/client/saves/New World (1)/entities/r.-1.-1.mca
runs/client/saves/New World (1)/entities/r.-1.0.mca
runs/client/saves/New World (1)/entities/r.0.-1.mca
runs/client/saves/New World (1)/entities/r.0.0.mca
runs/client/saves/New World (1)/icon.png
runs/client/saves/New World (1)/level.dat
runs/client/saves/New World (1)/level.dat_old
runs/client/saves/New World (1)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
runs/client/saves/New World (1)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
runs/client/saves/New World (1)/poi/r.-1.-1.mca
runs/client/saves/New World (1)/poi/r.-1.0.mca
runs/client/saves/New World (1)/poi/r.0.-1.mca
runs/client/saves/New World (1)/poi/r.0.0.mca
runs/client/saves/New World (1)/region/r.-1.-1.mca
runs/client/saves/New World (1)/region/r.-1.0.mca
runs/client/saves/New World (1)/region/r.0.-1.mca
runs/client/saves/New World (1)/region/r.0.0.mca
runs/client/saves/New World (1)/serverconfig/readme.txt
runs/client/saves/New World (1)/session.lock
runs/client/saves/New World (1)/stats/380df991-f603-344c-a090-369bad2a924a.json
runs/client/saves/New World (2)/advancements/380df991-f603-344c-a090-369bad2a924a.json
runs/client/saves/New World (2)/data/neoforge_data_attachments.dat
runs/client/saves/New World (2)/data/raids.dat
runs/client/saves/New World (2)/data/random_sequences.dat
runs/client/saves/New World (2)/DIM-1/data/neoforge_data_attachments.dat
runs/client/saves/New World (2)/DIM-1/data/raids.dat
runs/client/saves/New World (2)/DIM1/data/neoforge_data_attachments.dat
runs/client/saves/New World (2)/DIM1/data/raids_end.dat
runs/client/saves/New World (2)/entities/r.-1.-1.mca
runs/client/saves/New World (2)/entities/r.-1.0.mca
runs/client/saves/New World (2)/entities/r.0.-1.mca
runs/client/saves/New World (2)/entities/r.0.0.mca
runs/client/saves/New World (2)/icon.png
runs/client/saves/New World (2)/level.dat
runs/client/saves/New World (2)/level.dat_old
runs/client/saves/New World (2)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
runs/client/saves/New World (2)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
runs/client/saves/New World (2)/poi/r.-1.-1.mca
runs/client/saves/New World (2)/poi/r.-1.0.mca
runs/client/saves/New World (2)/poi/r.0.-1.mca
runs/client/saves/New World (2)/poi/r.0.0.mca
runs/client/saves/New World (2)/region/r.-1.-1.mca
runs/client/saves/New World (2)/region/r.-1.0.mca
runs/client/saves/New World (2)/region/r.0.-1.mca
runs/client/saves/New World (2)/region/r.0.0.mca
runs/client/saves/New World (2)/serverconfig/readme.txt
runs/client/saves/New World (2)/session.lock
runs/client/saves/New World (2)/stats/380df991-f603-344c-a090-369bad2a924a.json
runs/client/saves/New World (3)/advancements/380df991-f603-344c-a090-369bad2a924a.json
runs/client/saves/New World (3)/data/neoforge_data_attachments.dat
runs/client/saves/New World (3)/data/raids.dat
runs/client/saves/New World (3)/data/random_sequences.dat
runs/client/saves/New World (3)/DIM-1/data/neoforge_data_attachments.dat
runs/client/saves/New World (3)/DIM-1/data/raids.dat
runs/client/saves/New World (3)/DIM1/data/neoforge_data_attachments.dat
runs/client/saves/New World (3)/DIM1/data/raids_end.dat
runs/client/saves/New World (3)/entities/r.-1.-1.mca
runs/client/saves/New World (3)/entities/r.-1.0.mca
runs/client/saves/New World (3)/entities/r.0.-1.mca
runs/client/saves/New World (3)/entities/r.0.0.mca
runs/client/saves/New World (3)/icon.png
runs/client/saves/New World (3)/level.dat
runs/client/saves/New World (3)/level.dat_old
runs/client/saves/New World (3)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
runs/client/saves/New World (3)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
runs/client/saves/New World (3)/poi/r.-1.-1.mca
runs/client/saves/New World (3)/poi/r.-1.0.mca
runs/client/saves/New World (3)/poi/r.-2.-1.mca
runs/client/saves/New World (3)/poi/r.-2.0.mca
runs/client/saves/New World (3)/poi/r.0.-1.mca
runs/client/saves/New World (3)/poi/r.0.0.mca
runs/client/saves/New World (3)/region/r.-1.-1.mca
runs/client/saves/New World (3)/region/r.-1.-2.mca
runs/client/saves/New World (3)/region/r.-1.0.mca
runs/client/saves/New World (3)/region/r.-2.-1.mca
runs/client/saves/New World (3)/region/r.-2.0.mca
runs/client/saves/New World (3)/region/r.0.-1.mca
runs/client/saves/New World (3)/region/r.0.-2.mca
runs/client/saves/New World (3)/region/r.0.0.mca
runs/client/saves/New World (3)/serverconfig/readme.txt
runs/client/saves/New World (3)/session.lock
runs/client/saves/New World (3)/stats/380df991-f603-344c-a090-369bad2a924a.json
runs/client/saves/New World (4)/advancements/380df991-f603-344c-a090-369bad2a924a.json
runs/client/saves/New World (4)/data/neoforge_data_attachments.dat
runs/client/saves/New World (4)/data/raids.dat
runs/client/saves/New World (4)/data/random_sequences.dat
runs/client/saves/New World (4)/DIM-1/data/neoforge_data_attachments.dat
runs/client/saves/New World (4)/DIM-1/data/raids.dat
runs/client/saves/New World (4)/DIM1/data/neoforge_data_attachments.dat
runs/client/saves/New World (4)/DIM1/data/raids_end.dat
runs/client/saves/New World (4)/entities/r.-1.-1.mca
runs/client/saves/New World (4)/entities/r.-1.0.mca
runs/client/saves/New World (4)/entities/r.0.-1.mca
runs/client/saves/New World (4)/entities/r.0.0.mca
runs/client/saves/New World (4)/icon.png
runs/client/saves/New World (4)/level.dat
runs/client/saves/New World (4)/level.dat_old
runs/client/saves/New World (4)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
runs/client/saves/New World (4)/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
runs/client/saves/New World (4)/poi/r.-1.-1.mca
runs/client/saves/New World (4)/poi/r.-1.0.mca
runs/client/saves/New World (4)/poi/r.0.-1.mca
runs/client/saves/New World (4)/poi/r.0.0.mca
runs/client/saves/New World (4)/region/r.-1.-1.mca
runs/client/saves/New World (4)/region/r.-1.0.mca
runs/client/saves/New World (4)/region/r.0.-1.mca
runs/client/saves/New World (4)/region/r.0.0.mca
runs/client/saves/New World (4)/serverconfig/readme.txt
runs/client/saves/New World (4)/session.lock
runs/client/saves/New World (4)/stats/380df991-f603-344c-a090-369bad2a924a.json
runs/client/saves/New World/advancements/380df991-f603-344c-a090-369bad2a924a.json
runs/client/saves/New World/data/neoforge_data_attachments.dat
runs/client/saves/New World/data/raids.dat
runs/client/saves/New World/data/random_sequences.dat
runs/client/saves/New World/DIM-1/data/neoforge_data_attachments.dat
runs/client/saves/New World/DIM-1/data/raids.dat
runs/client/saves/New World/DIM1/data/neoforge_data_attachments.dat
runs/client/saves/New World/DIM1/data/raids_end.dat
runs/client/saves/New World/entities/r.-1.-1.mca
runs/client/saves/New World/entities/r.-1.0.mca
runs/client/saves/New World/entities/r.0.-1.mca
runs/client/saves/New World/entities/r.0.0.mca
runs/client/saves/New World/icon.png
runs/client/saves/New World/level.dat
runs/client/saves/New World/level.dat_old
runs/client/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
runs/client/saves/New World/playerdata/380df991-f603-344c-a090-369bad2a924a.dat_old
runs/client/saves/New World/poi/r.-1.-1.mca
runs/client/saves/New World/poi/r.-1.0.mca
runs/client/saves/New World/poi/r.0.-1.mca
runs/client/saves/New World/poi/r.0.0.mca
runs/client/saves/New World/region/r.-1.-1.mca
runs/client/saves/New World/region/r.-1.0.mca
runs/client/saves/New World/region/r.0.-1.mca
runs/client/saves/New World/region/r.0.0.mca
runs/client/saves/New World/serverconfig/readme.txt
runs/client/saves/New World/session.lock
runs/client/saves/New World/stats/380df991-f603-344c-a090-369bad2a924a.json
runs/client/screenshots/2024-11-13_21.59.56.png
runs/client/screenshots/2024-11-14_09.35.12.png
runs/client/screenshots/2024-11-14_09.35.13.png
runs/client/screenshots/2024-11-14_09.35.14.png
runs/client/screenshots/2024-11-14_09.35.15.png
runs/client/screenshots/2024-11-14_09.35.16.png
runs/client/screenshots/2024-11-14_09.35.17.png
runs/client/screenshots/2024-11-14_10.55.35.png
runs/client/screenshots/2024-11-14_10.55.37.png
runs/client/screenshots/2024-11-14_10.55.38.png
runs/client/screenshots/2024-11-14_12.33.38.png
runs/client/servers.dat
runs/client/usercache.json
runs/client/usernamecache.json
runs/junit/junit_jvm_args.txt
runs/junit/junit_test_args.txt
runs/server/banned-ips.json
runs/server/banned-players.json
runs/server/config/fml.toml
runs/server/config/jei-server.toml
runs/server/config/neoforge-common.toml
runs/server/config/neoforge-server.toml
runs/server/ops.json
runs/server/server.properties
runs/server/usercache.json
runs/server/usernamecache.json
runs/server/whitelist.json
runs/server/world/advancements/380df991-f603-344c-a090-369bad2a924a.json
runs/server/world/entities/r.-1.-1.mca
runs/server/world/entities/r.-1.0.mca
runs/server/world/entities/r.0.-1.mca
runs/server/world/entities/r.0.0.mca
runs/server/world/level.dat
runs/server/world/level.dat_old
runs/server/world/playerdata/380df991-f603-344c-a090-369bad2a924a.dat
runs/server/world/poi/r.-1.-1.mca
runs/server/world/poi/r.-1.0.mca
runs/server/world/poi/r.0.-1.mca
runs/server/world/poi/r.0.0.mca
runs/server/world/region/r.-1.-1.mca
runs/server/world/region/r.-1.0.mca
runs/server/world/region/r.0.-1.mca
runs/server/world/region/r.0.0.mca
runs/server/world/serverconfig/readme.txt
runs/server/world/session.lock
runs/server/world/stats/380df991-f603-344c-a090-369bad2a924a.json
.vscode/settings.json
